<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <proxy preserveHostHeader="true" reverseRewriteHostInResponseHeaders="false" />
    <security>
      <requestFiltering>
        <!-- 15MB (must be >= Flask MAX_CONTENT_LENGTH) -->
        <requestLimits maxAllowedContentLength="15728640" />
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <clear />
        <rule name="ReverseProxyToFlask" stopProcessing="true">
          <match url="(.*)" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_PROTO" value="https" />
            <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_X_FORWARDED_FOR" value="{REMOTE_ADDR}" />
          </serverVariables>
          <action type="Rewrite" url="http://127.0.0.1:5001/{R:1}" />
        </rule>
      </rules>
    </rewrite>
        <httpRedirect enabled="false" destination="https://reportrisk.hdh.org" exactDestination="false" />
  </system.webServer>
</configuration>
